div{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#box1{
    position: static;
    background-color: blue;
}
#box2{
    position: relative;
    left: 20px;
    top: 20px;
    background-color: green;

}
#box3{
    background-color: red;
    position: relative;

   top: 40px;

}
#box4{
    background-color: pink;
    position: fixed;
    right: 20px;

}
p{
    word-wrap: break-word;
}